<div class="item-registration-container">
  <header class="header">
    <a href="#" class="back-arrow">←</a>
    <h2>アイテム登録</h2>
  </header>
  
  <hr class="divider">

  <%= form_with model: @item, local: true, html: { class: 'item-form' } do |f| %>
    <div class="image-container">
      <%#= image_tag(@item.image_url || "default-image-url", alt: "画像", class: "item-image") %>
      <%= f.file_field :image, accept: "image/*", capture: "camera" %>
    </div>

    <hr class="divider">

    <div class="select-field">
      <%= f.select :category, options_for_select(Category.data.map { |c| [c[:name], c[:id]] }), prompt: "種類" %>
    </div>

    <div class="select-field">
      <%= f.select :color, options_for_select(Color.data.map { |c| [c[:name], c[:id]] }), prompt: "色" %>
    </div>

    <div class="select-field">
      <%= f.select :type, options_for_select([['袷', 1], ['単', 2]]), prompt: "袷/単" %>
    </div>

    <div class="textarea-field">
      <%= f.text_area :memo, maxlength: 300, placeholder: "メモ (最大300字)" %>
    </div>

    <%= f.submit "登録", class: "submit-button" %>
  <% end %>
</div>
